<!--<h1>Login</h1>-->

<!--<%= form_for :user do |f| %>-->
  <!--<%= f.email_field :email, placeholder: "Enter your email" %>-->
  <!--<%= f.password_field :password, placeholder: "Enter your password" %>-->
  <!--<%= f.submit "Login" %>-->
<!--<% end %>-->


<div class="container well">
    <h1>Login</h1>

    <%= form_for :user do |form| %>

    <div class="md-form">
        <%= form.text_field :email, class: 'form-control', id: 'email' %>
        <%= form.label :email, class: '', for: 'email' %>
    </div>

    <div class="md-form">
        <%= form.password_field :password, class: 'form-control', id: 'password' %>
        <%= form.label :password, class: '', for: 'password' %>
    </div>

    <div class="md-form">
        <%= form.submit 'LOG IN', :class => 'btn btn-primary' %>
    </div>

    <%end%>
</div>