<h1>Enter your info</h1>
<%= form_for :user do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<br>
<%= form.label :email %>
<br>
<%= form.text_area :email %>
<br>
<%= form.label :password %>
<%= form.text_field :password %>
<br>
<%= form.submit %>
<%end%>