<div class="container">

    <div class="page-heading mui--text-light mui--text-display1">
        Sign up
    </div>

    <div class="form-section panel container" style="padding-top: 20px; text-align: left;">

        <%= form_for :user do |form| %>

        <div class="row">
            <div class="col-md-12">
                <div class="mui-textfield">
                    <%= form.text_field :name, class: '', id: 'name' %>
                    <%= form.label :name, class: '', for: 'name' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mui-textfield">
                    <%= form.text_field :email, class: 'f', id: 'email' %>
                    <%= form.label :email, class: '', for: 'email' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mui-textfield">
                    <%= form.password_field :password, class: '', id: 'password' %>
                    <%= form.label :password, class: '', for: 'password' %>
                </div>
            </div>
        </div>

        <%= form.submit 'SIGN UP', :class => 'mui-btn mui-btn--primary' %>
        <%end%>
    </div>
</div>