<div class='container'>

    <div class='col-md-3 well' id='user-info'>

        <h3>Hello, <%= @user.name %></h3>
        <label>Email: </label> <%= @user.email %>

        <hr>

        <a class="btn btn-primary btn-sm" href='#'>Edit Info</a>
        <a class="btn btn-primary btn-sm" href='/logout'>Log Out</a>
    </div>

    <div class='col-md-1'></div>

    <div class='col-md-7 well' id='user-bikes'>

        <h3>Your registered bikes:</h3>


        <% @bikes.each do |bike| %>

        <div class="user-bikes">
            <div class="row">
                <div class="col-md-6">
                    <img src="<%= bike.photo %>" class="img-thumbnail" width=200>
                </div>
                <div class="col-md-6">
                    <h4><a href="/bike/<%= bike.id %>"><%= bike.serial_num %></a></h4>
                    <h6><label>Brand: </label> <%= bike.brand %></h6>
                    <h6><label>Model: </label> <%= bike.model %></h6>
                    <h6><label>Is Missing: </label> <%= bike.is_stolen %></h6>
                    <a class="btn btn-primary btn-sm" href='/bike/<%= bike.id %>/edit'>Edit</a>
                    <a class="btn btn-danger btn-sm" href='/bike/<%= bike.id %>/delete'>Delete</a>
                </div>
            </div>
        </div>

        <% end %>

    </div>

</div>