<div class='container'>

    <div class='col-md-3 well' id='user-info'>

                <h3>Hello, <%= @user.name %></h3>
                <label>Email: </label> <%= @user.email %>

                <hr>

                <a class="btn btn-primary btn-sm" href='#'>Edit Info</a>
                <a class="btn btn-primary btn-sm" href='/logout'>Log Out</a>
    </div>

    <div class='col-md-1'></div>

    <div class='col-md-7 well' id='user-bikes'>

        <h3>Your registered bikes:</h3>


    <% @bikes.each do |bike| %>
    <a href="/bike/<%= bike.id %>"><p><%= bike.description %></p></a>
    <h6><%= bike.brand %></h6>
    <h6><%= bike.model %></h6>

  <% end %>

    </div>

</div>