<div class="bikeForm container well">

    <%= form_for @bike do |form| %>

    <h1>Edit bike info</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="mui-textfield ">
                <%= form.label :brand %>
                <%= form.text_field :brand %>
                </div></div></div>
<br><br>
<%= form.label :model %>
<%= form.text_field :model %>
<br><br>
<%= form.label :serialnumber %>
<br>
<%= form.text_field :serial_num %>


<br><br>
<br><br>
<%= form.label :Primarycolor %>
<%= form.select :color_primary, [['Red','red'],
                                ['Dark Red', 'dark red'],
                                ['Light Red', 'light red'],
                                ['Blue','blue'],
                                ['Dark Blue','dark blue'],
                                ['Light Blue','light blue'],
                                ['Green','green'],
                                ['Dark Green','dark green'],
                                ['Light Green','light green'],
                                ['Yellow','yellow'],
                                ['Orange','orange'],
                                ['White','white'],
                                ['Black', 'black'],
                                ['Grey','grey'],
                                ['Purple','purple']] %>



<br><br>
<%= form.label :Secondcolor %>
<%= form.select :color_secondary, [['Red','red'],
                                ['Dark Red', 'dark red'],
                                ['Light Red', 'light red'],
                                ['Blue','blue'],
                                ['Dark Blue','dark blue'],
                                ['Light Blue','light blue'],
                                ['Green','green'],
                                ['Dark Green','dark green'],
                                ['Light Green','light green'],
                                ['Yellow','yellow'],
                                ['Orange','orange'],
                                ['White','white'],
                                ['Black', 'black'],
                                ['Grey','grey'],
                                ['Purple','purple']] %>

<br><br>
<%= form.label :Thirdcolor %>
<%= form.select :color_tertiary, [['Red','red'],
                                ['Dark Red', 'dark red'],
                                ['Light Red', 'light red'],
                                ['Blue','blue'],
                                ['Dark Blue','dark blue'],
                                ['Light Blue','light blue'],
                                ['Green','green'],
                                ['Dark Green','dark green'],
                                ['Light Green','light green'],
                                ['Yellow','yellow'],
                                ['Orange','orange'],
                                ['White','white'],
                                ['Black', 'black'],
                                ['Grey','grey'],
                                ['Purple','purple']] %>




<br><br>
<%= form.radio_button(:is_stolen, true) %>
<%= form.label(:bike_true, "My bike was stolen") %>
<%= form.radio_button(:is_stolen, false) %>
<%= form.label(:bike_false, "My bike was not stolen") %>


<span class="photoInput">
  <br><br>
  <%= form.label :photo %>
  <%= form.file_field :photo %>
</span>

<br><br>
<%= form.label :description %>
<br>
<%= form.text_area :description %>
<br><br>
<%= form.submit %>
<%end%>

</div>