
<% @bikes.each do |bike| %>
  <h3><%= bike.brand %></h3>
  <h3><%= bike.model %></h3>
  <h3><%= bike.color_primary %></h3>
  <h3><%= bike.color_secondary %></h3>
  <h3><%= bike.description %></h3>
  <h3> ============= </h3>

<% end %>
